.types {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.graphics__container,
.type__container,
.batches__container {
    display: flex;
    align-items: center;
    gap: 15px;
    border-radius: 8px;
    background-color: var(--color-card-bg);
    padding: 15px;
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
}

.icon__container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
    width: 70px;
    background-color: var(--color-card-icon-bg);
    border-radius: 8px;
}

.icon {
    font-size: 30px;
    color: var(--color-card-icon);
}




/* MEDIA QUERIES */


/* Smartphones ----------- */
@media only screen and (max-width: 650px) and (min-width: 520px) {
    .types {
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    .icon {
        font-size: 40px;
        color: var(--color-card-icon);
    }

    .icon__container {
        height: 100px;
        width: 100px;
        border-radius: 8px;
    }
}

/* Small Smartphones ----------- */
@media only screen and (max-width: 520px) and (min-width: 450px) {
    .types {
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    .icon {
        font-size: 40px;
        color: var(--color-card-icon);
    }

    .icon__container {
        height: 100px;
        width: 100px;
        border-radius: 8px;
    }
}

/* Smallest Smartphones ----------- */
@media screen and (max-width: 450px) and (orientation : portrait) {
    
    .graphics__container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 10px;
    }

    .types {
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    .icon {
        font-size: 35px;
        color: var(--color-card-icon);
    }

    .icon__container {
        height: 100px;
        width: 100px;
        border-radius: 8px;
    }
}