.batches__container {
    flex-direction: column;
    align-items: baseline;
}

.batches__title h2 {
    font-size: 16px;
    color: var(--color-card-title);
    margin-bottom: 5px;
}

.batches__wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.batches__lines {
    display: grid;
    grid-template-columns: 30% 25% 1fr 1fr 1fr;
    padding: 10px;
    border-radius: 5px;
    transition: all 0.3s ease-in-out;
}

.batches__lines:hover {
    transform: scale(1.02);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.batches__wrapper__index, .batches__wrapper__index h3{
    font-size: 11px;
    font-weight: 600;
    text-transform: uppercase;
    color: var(--color-card-subtitle-darker);
    background-color: var(--color-background--grey);
}

.batches__wrapper__item, .batches__wrapper__item h3 {
    font-size: 12px;
    color: var(--color-card-icon);
}

.status-badge {
    text-transform: uppercase;
    width: fit-content;
    font-size: 11px;
    font-weight: 600;
    padding: 2px 7px;
    border-radius: 4px;
}

.status-processing {
    
    background-color: var(--color-info-surface);
    color: var(--color-info-dark);
}

.status-finished {
    background-color: var(--color-positive-surface);
    color: var(--color-positive-dark);
}

.batches__wrapper__item:nth-child(even) {
    background-color: var(--color-background--grey);
}

.batches__lines .completed {
    text-align: right;
    margin-right: 30px;
}

.batches__lines .total {
    text-align: right;
    margin-right: 40px;
}

.batches__wrapper__item .total {
    font-size: 12px;
    font-weight: 700;
}

/* MEDIA QUERIES */


/* Smartphones ----------- */
@media only screen and (max-width: 650px) and (min-width: 520px) {

}

/* Small Smartphones ----------- */
@media only screen and (max-width: 520px) and (min-width: 450px) {
    
}

/* Smallest Smartphones ----------- */
@media screen and (max-width: 450px) and (orientation : portrait) {
    .batches__wrapper__index, .batches__wrapper__index h3{
        font-size: 8px;
        font-weight: 600;
        text-transform: uppercase;
    }


.batches__wrapper__item, .batches__wrapper__item h3 {
    font-size: 11px;
    color: var(--color-card-icon);
}

    .batches__lines {
        display: grid;
        grid-template-columns: 40% 6% 20% 22% 1fr;
    }

    .status-badge {
        text-transform: uppercase;
        width: fit-content;
        font-size: 7px;
        font-weight: 600;
        padding: 2px 7px;
        border-radius: 4px;
    }
}