.title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: baseline;
    gap: 10px;
    margin-bottom: 10px;
}

.filters {
    display: flex;
    align-items: baseline;
    gap: 10px;
    margin-bottom: 24px;
}

.types {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.type__container {
    width: 100%;
}