/* Button */

.btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 8px;
    letter-spacing: 0.02em;
    padding: 10px 18px;
    border-radius: 5px;
    width: max-content;
    height: max-content;
    border: none;
    font-size: 15px;
    font-weight: 600;
    color: var(--color-button-text--dark);
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.btn-primary {
    background-color: var(--color-button--primary);
    box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
}

.btn-primary:hover {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}


.btn-secondary {
    background-color: transparent;
}

.btn-secondary:hover {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}

.buttons {
    display: flex;
}

/* MEDIA QUERIES */

    /* Smallest Smartphones ----------- */
    @media screen and (max-width: 450px) and (orientation : portrait) {
        .buttons {
            margin-top: 10px;
        }
    }