.custom-select {
    position: relative;
    font-family: Arial;
}

.custom-select select {
    display: none;
}

.select-selected {
    border-radius: 5px;
    background-color: var(--color-card-bg);
    color: var(--color-card-subtitle);
}

label {
    position: absolute;
    top: 6px;
    left: 10px;
    color: var(--color-card-subtitle);
}


.select-selected:after {
    position: absolute;
    content: "";
    top: 16px;
    right: 15px;
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-color: var(--color-card-subtitle) transparent transparent transparent;
    transition: all 0.2s ease-in-out ;
}

.select-selected.select-arrow-active:after {
    border-color: transparent transparent var(--color-card-subtitle) transparent;
    top: 8px;
    transition: all 0.2s ease-in-out ;
}


.select-items div {
    color: var(--color-card-icon);
    font-size: 15px;
    padding: 6px;
    padding-left: 30px;
    border: 1px solid transparent;
    border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
    cursor: pointer;
    user-select: none;
}

.select-items div:last-child {
    border-bottom: none;
}

.select-selected {
    color: var(--color-card-icon);
    font-size: 15px;
    padding: 6px;
    padding-left: 30px;
    border: 1px solid var(--color-card-border-dark);
    cursor: pointer;
    user-select: none;
}

.select-items {
    position: absolute;
    background-color: var(--color-card-bg);
    border-radius: 5px;
    overflow: hidden;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 99;
    opacity: 1;
    transition: all 0.5s ease-in-out;
}

/*hide the items when the select box is closed:*/
.select-hide {
    display: none;
}

.select-items div:hover,
.same-as-selected {
    background-color: rgba(0, 0, 0, 0.06);
}